body{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 50px;
}
.protfolio-coloer{
    color:orange;
}
h2{
    font-size: 40px;
}
p{
    color: rgb(63, 59, 61);
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    border:  0px solid #ff0000;
    background-image: url("imag/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
    overflow: hidden;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(lightsalmon,tomato);
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}
  .orenghighlite{
      color: orange;
  }
  .dream-area{
      background-image: url(imag/dream-bg.png);
      background-repeat: no-repeat;
      background-position: right;
  }
  .single-experience{
      box-shadow: 10px 10px 40px;
      border: 5px;
      height: 80%;
  }
  .experience-area{
      background-image: url(imag/exp-bg.png);
      background-repeat: no-repeat;
      background-position: left;
  }
  #Full-Stack{
      border-left: 7px solid;
      border-color: salmon tomato;
      border-image-slice: 1;
  }
  #baby-web{
      border-left: 7px solid;
      border-color: blue tomato;
      border-image-slice: 1;
      
  }
  footer p{
      text-align: center;
  }